.FAQContainer {
    color: blueviolet;
    font-weight: bold;

}

.ContentTitle {
    font-size: 35px;
    font-weight: bolder;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
   
;
    margin-top: 20px;
    margin-left: 3em;


    
}

.ContentSubHead {
    font-size: 25px;
    padding-left: 3em;
    color: black;
}

.ContentQ1 , .ContentQ2 , .ContentQ3 {
    font-size: 20px;
    padding-bottom: 1em;
    padding-left: 5em;
}

.ContentA1 , .ContentA2 , .ContentA3 {
    font-size: 17px;
    padding-bottom: 1em;
    padding-left: 8em;
    color: black
}

.ContentA3 {
    padding-bottom: 7em;
}

.Q2boldthis , .Q1boldthis , .A3boldthis{
    color: purple;
}