:root {
  --black: hsl(276, 7%, 30%);
  --secondary: hsla(273, 70%, 58%);
  --hoverColor: hsl(273, 70%, 45%);
  --footer: hsl(260, 100%, 73%);
  --border: hsl(0, 0%, 82%);
}
* {
  font-family: "Roboto";
  scroll-behavior: smooth;
}
